*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(41, 41, 41);
}

header{
    background-color: black;
    color: aquamarine;
    width: 100%;
    padding: 1vh;
    padding-left: 5vh;
    font-size: 4vh;
}
nav ul li{
    display: inline;   
    margin-left: 8vh;
}

select{
    background-color: black;
    color: aquamarine;
    font-size: 4vh;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    
}

input{
    padding: 1vh;
    width: 50vh;
}

button{
    font-size: 3vh;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 1vh;
    background-color: rgb(255, 207, 65);
    border: solid 0.5vh rgb(255, 207, 65);
}

.left{
    position: absolute;
    right: 0;
    margin-right: 2vh;
}
iframe{
    margin-top: 1vh;
    margin-bottom: 5vh;
}
footer{
    bottom: 0;
    color: white;
    background-color: black;
}

audio{
    margin: 6vh;
    margin-bottom: 5vh;
    margin-top: 1vh;
}